old/Datasets
old/Technical/output
old/Technical/videos
old/Technical/images
old/Technical/yolo-coco/yolov3.weights
old/Technical/ObjectDetection/yolo-coco

old/Autoencoder_MNIST/30_times/*
old/autoencoder/X_normal.csv

old/Autoencoder_MNIST/t10k-images-idx3-ubyte
old/Autoencoder_MNIST/t10k-labels-idx1-ubyte
old/Autoencoder_MNIST/train-images-idx3-ubyte
old/Autoencoder_MNIST/train-labels-idx1-ubyte

OvercomingCF/t10k-images-idx3-ubyte.gz
OvercomingCF/t10k-labels-idx1-ubyte.gz
OvercomingCF/train-images-idx3-ubyte.gz
OvercomingCF/train-labels-idx1-ubyte.gz

OvercomingCF/mnist.pkl
OvercomingCF/X_train.npy
OvercomingCF/Y_train.npy
OvercomingCF/FineTuning/

OvercomingCF/mnist-with-awgn.gz
OvercomingCF/mnist-with-awgn.mat
OvercomingCF/mnist-with-motion-blur.gz
OvercomingCF/mnist-with-motion-blur.mat
OvercomingCF/mnist-with-reduced-contrast-and-awgn.gz
OvercomingCF/mnist-with-reduced-contrast-and-awgn.mat

OvercomingCF/fashion_t10k-images-idx3-ubyte.gz
OvercomingCF/fashion_t10k-labels-idx1-ubyte.gz
OvercomingCF/fashion_train-images-idx3-ubyte.gz
OvercomingCF/fashion_train-labels-idx1-ubyte.gz
OvercomingCF/fashion_mnist.pkl

OvercomingCF/old/FineTuning/Food-11.zip
OvercomingCF/old/X_train.npy
OvercomingCF/old/data/mnist/MNIST/processed/training.pt
OvercomingCF/old/data/mnist/MNIST/raw/train-images-idx3-ubyte


OvercomingCF/old/*

old/*

